@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,900&display=swap');
@font-face {
    font-family: 'Jua';
    src: url('../assets/Jua-Regular.ttf');
}
body {
    margin: 0 0;
}
.flexible {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}
.grid {
    display: grid;
    grid-gap: 20px;
}
#nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    align-items: center;
    flex-direction: row;
    background-color: #58A193;
    z-index: 10;
}
#nav > #logo > img { width: 140px; }
#nav > #logo { margin-left: 25px; }
#nav > #slider {
    position: absolute;
    right: 20px;
}
#nav > #slider a { text-decoration: none; }
#nav > #slider span {
    margin-right: 30px;
    color: white;
    color: white;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 24px;
}
#main {
    background-color: #58A193;
    width: 100vw;
    height: 100vh;
}
#main > #contents {
    padding-top: 120px;
    justify-content: center;
}
#main > #contents > #mention {
    color: white;
    font-size: 40px;
    font-family: 'Noto Sans KR';
    font-weight: 700;

    margin-right: 150px;
    text-shadow: 4px 5px #0000002f;
}
#mention > #startBtn { text-decoration: none; }
#mention > #startBtn > div {
    color: white;
    display: block;
    border: solid 2px white;
    font-weight: 400;
    font-size: 30px;
    text-shadow: none;
    padding: 5px;
    margin-top: 30px;
    width: 120px;
    text-align: center;
}
#mention > #startBtn > div:hover {
    color: #58A193;
    background: white;
}
#main > div > #sampleCode { width: 600px; }
#introduction {
    background-color: white;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
#contents2 {
    justify-content: center;
    flex-direction: row;
    font-family: 'Noto Sans KR';
}
#contents2 > #leftMention {
    margin-right: 150px;
    font-size: 40px;
    
    flex-direction: column;
    align-items: flex-start;
}
#introMention {
    font-weight: 400;
    color: #131313;
    margin-bottom: 60px;
}
#detailMention > #lst {
    list-style-type: none;
    font-size: 24px;
    font-weight: 500;
}
#detailMention > #lst > li {
    margin-right: 20px;
    color: #9e9e9e;
}
#detailMention > #lst > #lst1 {
    border-bottom: solid 2.5px #58A193;
    color: #535353;
}
#detailMention > #lst > li:hover {
    color: #535353 !important;
}
#detailMention > #detailExp {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 100;
    color: #535353;
    width: 350px;
    height: 54px;
}
#contents2 > img {
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px #0000002f;
}
#management {
    width: 100vw;
    height: 100vh;
    background-color: #fff4f0;
    justify-content: center;
}
#contents3 {
    justify-content: center;
    flex-direction: row;
    font-family: 'Noto Sans KR';
    padding-top: 60px;
}
#contents3 > #imageBox > img{
    width: 200px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px #0000002f;
}
#card1 { grid-column: 1; grid-row: 1; }
#card2 { grid-column: 1; grid-row: 2; }
#card3 { grid-column: 2; grid-row: 1; }
#card4 { grid-column: 2; grid-row: 2; }
#rightMention {
    flex-direction: column;
    align-items: flex-end;
}
#introMention2 {
    margin-left: 180px;
    color: #da6161;
    font-size: 40px;
    font-weight: 400;
    text-align: right;
}
#detailRight {
    margin-top: 30px;
    color: #d87878;
    width: 400px;
    text-align: right;
    font-size: 20px;
    font-weight: 100;
}